<div class="card border-warning">
  <div class="card-header "> Subject component 03 </div>
  <div>
    <div class="card-header"> Here the value is  <b class="text-danger fs-5">{{SubName}}</b> </div>
    <br>
    <input type="text" class="form-control w-75 ms-3" placeholder="Write here"  #IPValue> <br>
    <button class="btn btn-danger mt-3 mb-3 ms-3"  (click)="changeValue(IPValue)" >Change Value</button>
  </div>

</div>
<hr>
<div class="card border-warning">
  <div class="card-header "> Subject component 03 </div>
  <div>
    <div class="card-header"> Here the value is  <b class="text-danger fs-5">{{behaviourSubNmae}}</b> </div>
    <br>
    <input type="text" class="form-control w-75 ms-3" placeholder="Write here"  #IPValue> <br>
    <button class="btn btn-danger mt-3 mb-3 ms-3"  (click)="changeValueForBehaviour(IPValue)" >Change Value</button>
  </div>

</div>
